<body>
    <main>
        <div class="login">
            <div class="title">
                <mat-icon aria-hidden="false" aria-label="logo" fontIcon="explore"></mat-icon>EI-DUNGEON
            </div>
            <div class="description">Log in to your account</div>
            
            <form (ngSubmit)="onSubmit()" #form="ngForm">
                <mat-form-field class="example-full-width">
                    <mat-label>Username</mat-label>
                    <input matInput [(ngModel)]="userLogin.userName" name="username" required>
                </mat-form-field>

                <mat-form-field class="form-field">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide() ? 'password' : 'text'" [(ngModel)]="userLogin.password" name="password" required>
                </mat-form-field>
                
                <div class="login-button">
                    <button type="submit" mat-flat-button [disabled]="form.form.invalid">Login</button>
                </div>
            </form>
            
        </div>
        <div class="sign-up">Don't have an account? <a [routerLink]="['/signup']">Sign Up Now</a></div>
    </main>
</body>