body {
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .login {
            display: flex;
            flex-direction: column;
            background-color: var(--surface);
            padding: 30px 110px 30px 110px;
            border-radius: 20px;

            .theme-button {
                width: 100%;
                display: flex;
                justify-content: flex-end;
            }

            .title {
                display: flex;
                align-items: center;
                color: var(--text-primary);
                margin-bottom: 20px;
                font-size: x-large;

                mat-icon {
                    margin-right: 10px;
                }
            }

            .description {
                color: var(--text-secondary);
                margin-bottom: 20px;
            }

            form {
                display: flex;
                flex-direction: column;

                mat-form-field {
                    min-width: 390px;
                    max-width: 43px;
                    width: 100%;
                }

                mat-form-field {
                    min-width: 390px;
                    max-width: 43px;
                    width: 100%;
                }

                .login-button {
                    margin: 1rem 0 2rem 0;

                    button {
                        font-size: 14px;
                        height: 100%;
                        width: 100%;
                        height: 100%;
                        min-height: 43px;
                        max-width: 390px;
                    }
                }
            }
        }

        .sign-up {
            color: var(--text-secondary);
            text-align: center;
            padding-top: 20px;

            a {
                color: var(--text-primary);
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
}
