<section>
    <div class="messages" #messagesContainer>
        <div class="messages-content">
            <mat-list role="list">
                <mat-list-item
                    *ngFor="let play of playsPagedSearch?.list"
                    role="listitem"
                    [ngClass]="{
                        user: play.playerDtoResponse.type === 'RealPlayer',
                        'other-player':
                            play.playerDtoResponse.type !== 'RealPlayer',
                    }"
                >
                    <div class="span-container">
                        <span matListItemTitle>{{
                            play.playerDtoResponse.name
                        }}</span>
                        <span>{{ play.prompt }}</span>
                    </div>
                </mat-list-item>
            </mat-list>
        </div>
    </div>

    <div class="input">
        <div class="input-area">
            <form [formGroup]="newPlayFormGroup">
                <textarea
                    [placeholder]="
                        game?.gameStatus !== 'PlayerDied'
                            ? 'What do you do?'
                            : 'This game has been finished, create a new one to start a new adventure!'
                    "
                    (input)="adjustTextAreaHeightEvent($event)"
                    rows="1"
                    formControlName="newPlayControl"
                    name="newPlayControl"
                    [disabled]="game?.gameStatus === 'PlayerDied'"
                    #textAreaContainer
                ></textarea>

                <button
                    *ngIf="!loading"
                    type="submit"
                    mat-icon-button
                    color="primary"
                    (click)="onSubmit()"
                    [disabled]="
                        newPlayFormGroup.get('newPlayControl')?.value == '' ||
                        game?.gameStatus === 'PlayerDied'
                    "
                >
                    <mat-icon
                        aria-hidden="false"
                        aria-label="play"
                        fontIcon="send"
                    ></mat-icon>
                </button>
                <div *ngIf="loading" class="loading">
                    <app-small-loading
                        [isLoading]="loading"
                    ></app-small-loading>
                </div>
            </form>
        </div>
    </div>
</section>
