<body>
    <div class="messages">
        <div class="messages-content">
            <mat-list role="list">
                <mat-list-item 
                    *ngFor="let message of messages" 
                    role="listitem" 
                    [ngClass]="{'user' : message.type === 0, 'other-player' : message.type === 1}"
                >
                    <div class="span-container">
                        <span matListItemTitle>{{ message.user }}</span>
                        <span matListItemLine>{{ message.message }}</span>
                    </div>
                </mat-list-item>
            </mat-list>
        </div>
    </div>

    <div class="input">
        <div class="input-area">
            <form (ngSubmit)="onSubmit()" #form="ngForm">
                <textarea 
                    [(ngModel)]="newMessage" 
                    placeholder="What do you do?" 
                    (input)="adjustTextAreaHeight($event)" 
                    rows="1" 
                ></textarea>
    
                <button type="submit" mat-flat-button [disabled]="form.form.invalid">
                    <mat-icon aria-hidden="false" aria-label="play" fontIcon="send"></mat-icon>
                </button>
            </form>
        </div>
    </div>
</body>

