section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--background);

    .messages {
        flex: 1;
        overflow-y: auto;

        display: flex;
        flex-direction: column;
        align-items: center;

        .messages-content {
            width: 80%;

            mat-list {
                mat-list-item {
                    height: auto;
                    span {
                        color: var(--text-primary);
                        white-space: pre-wrap;
                        overflow-wrap: break-word;
                        width: auto;
                        max-width: 100%;
                        overflow: visible;
                    }
                }

                .user {
                    .span-container {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        span,
                        textarea {
                            text-align: right;
                        }
                    }
                }

                .other-player {
                    .span-container {
                        span {
                            width: 90%;
                        }
                    }
                }
            }
        }
    }

    .input {
        display: flex;
        justify-content: center;
        margin: 1rem 0;
        flex-shrink: 0;

        .input-area {
            width: 80%;

            background-color: var(--surface);
            border-radius: 1rem;
            border: 1px solid var(--color-primary);

            form {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 100%;

                textarea {
                    color: var(--text-primary);
                    flex-grow: 1;
                    background-color: transparent;
                    border: none;
                    margin: 15px;
                    outline: none;
                    resize: none;
                    overflow: hidden;
                }

                .loading {
                    margin-right: 20px;
                }
            }
        }
    }
}
