<header class="landing-header">
    <div class="header-inner">
        <span class="brand">
            <span class="wordmark" i18n="@@appWordmark">EI-DUNGEON</span>
        </span>

        <nav class="actions">
            <app-language-selector></app-language-selector>

            @if (isLoggedIn()) {
                <a
                    mat-flat-button
                    color="primary"
                    routerLink="/home"
                    class="signin"
                    i18n="@@landingGoToGames"
                    >Go to my games</a
                >
            } @else {
                <a
                    mat-stroked-button
                    routerLink="/login"
                    class="signin"
                    i18n="@@landingSignIn"
                    >Sign in</a
                >
            }
        </nav>
    </div>
</header>
