.spinner-wrapper {
    background-color: var(--background);
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

::ng-deep .spinner-wrapper mat-spinner {
    --mdc-circular-progress-active-indicator-color: var(--color-accent);
}
