section {
    min-height: 100vh;
    background-color: var(--background);
    overflow-y: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    .main-container {
        display: flex;
        flex-direction: column;
        width: clamp(320px, 50%, 600px);
        margin: 1rem 0;

        .login {
            display: flex;
            flex-direction: column;
            background-color: var(--surface);
            padding: 2rem 5rem 2rem 5rem;
            border: solid 1px var(--color-primary);
            border-radius: 1rem;

            .theme-button {
                width: 100%;
                display: flex;
                justify-content: flex-end;
            }

            .title {
                display: flex;
                align-items: center;
                color: var(--text-primary);
                margin-bottom: 1.5rem;
                font-size: x-large;

                mat-icon {
                    margin-right: 0.5rem;
                }
            }

            .description {
                color: var(--text-secondary);
                margin-bottom: 1rem;
            }

            form {
                display: flex;
                flex-direction: column;

                mat-form-field {
                    width: clamp(200px, 100%, 600px);
                }

                .login-button {
                    margin: 1rem 0 2rem 0;

                    button {
                        font-size: medium;
                        height: 100%;
                        width: clamp(200px, 100%, 600px);
                    }
                }
            }
        }

        .sign-up {
            color: var(--text-secondary);
            text-align: center;
            margin-top: 1rem;

            a {
                color: var(--color-accent);
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
}
