<body>
    <div class="first-steps">
        <mat-stepper orientation="vertical" [linear]="true" #stepper>
            <mat-step [stepControl]="gameSystemFormGroup">
              <form [formGroup]="gameSystemFormGroup">
                <ng-template matStepLabel>Game System</ng-template>
                <mat-selection-list formControlName="gameSystemControl" name="gameSystemControl" [multiple]="false">
                      <mat-list-option *ngFor="let gameSystem of gameSystems" [value]="gameSystem.value">{{gameSystem.name}}</mat-list-option>
                </mat-selection-list>
                <div>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="numberOfArtificialPlayersFormGroup">
              <form [formGroup]="numberOfArtificialPlayersFormGroup">
                <ng-template matStepLabel>Set the number of artificial players</ng-template>
                <mat-slider 
                    class="slider"
                    [max]="5"
                    [min]="0"
                    [step]="1"
                    [discrete]="true"
                    [showTickMarks]="false">
                  <input 
                    matSliderThumb 
                    formControlName="numberOfArtificialPlayersControl" 
                    name="numberOfArtificialPlayersControl" 
                    #slider
                  >
                </mat-slider>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="characterNameFormGroup">
              <form [formGroup]="characterNameFormGroup">
                <ng-template matStepLabel>Full fill your character name</ng-template>
                <mat-form-field class="text-area-form">
                  <mat-label>Set the character name...</mat-label>
                  <input 
                    matInput 
                    placeholder="Name..."
                    formControlName="characterNameControl" 
                    name="characterNameControl">
                </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="characterDescriptionFormGroup">
              <form [formGroup]="characterDescriptionFormGroup">
                <ng-template matStepLabel>Full fill your character description</ng-template>
                <mat-form-field class="text-area-form">
                  <mat-label>Tell your story...</mat-label>
                  <textarea 
                    matInput 
                    placeholder="I'm..."
                    formControlName="characterDescriptionControl" 
                    name="characterDescriptionControl"
                    rows="5"></textarea>
                </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="gameNameFormGroup">
              <form [formGroup]="gameNameFormGroup">
                <ng-template matStepLabel>Set your game name</ng-template>
                <mat-form-field class="text-area-form">
                  <mat-label>Set the game name...</mat-label>
                  <input 
                    matInput 
                    placeholder="Game name..."
                    formControlName="gameNameControl" 
                    name="gameNameControl">
                </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
              <p>You are now done.</p>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="submit()">Start</button>
              </div>
            </mat-step>
          </mat-stepper>
    </div>
    
</body>


