.first-steps {
    background-color: var(--background);
    padding: 0 5rem;
    overflow-y: auto;
    height: 100%;

    h2 {
        margin-bottom: 2rem;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        .value-card-container {
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;
            margin-right: 2rem;
        }

        mat-slider {
            width: 95%;
        }

        .form-actions {
            display: flex;
            justify-content: flex-end;
            margin: 2rem 0;
        }
    }
}
