<app-loading [isLoading]="loading"></app-loading>
<div class="first-steps">
    <form
        [formGroup]="gameFormGroup"
        #gameNgForm="ngForm"
        (ngSubmit)="onSubmit()"
    >
        <mat-form-field>
            <mat-label>Game name</mat-label>
            <input
                matInput
                #nameInput
                minlength="2"
                maxlength="50"
                id="gameName"
                formControlName="gameNameControl"
                placeholder="Game name"
            />
            <mat-hint align="end">{{ nameInput.value.length }} / 50</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Character name</mat-label>
            <input
                matInput
                #characterNameInput
                minlength="4"
                maxlength="50"
                id="characterName"
                formControlName="characterNameControl"
                placeholder="Character name"
            />
            <mat-hint align="end"
                >{{ characterNameInput.value.length }} / 50</mat-hint
            >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Character description</mat-label>
            <textarea
                matInput
                #characterDescriptionInput
                minlength="4"
                maxlength="2000"
                placeholder="Character description"
                id="characterDescription"
                formControlName="characterDescriptionControl"
            ></textarea>
            <mat-hint align="end"
                >{{ characterDescriptionInput.value.length }} / 2000</mat-hint
            >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Race</mat-label>
            <mat-select formControlName="characterRaceControl">
                <mat-option *ngFor="let race of races" [value]="race.value">
                    {{ race.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-card>
            <mat-card-content>
                <h2>Skills</h2>

                <div formGroupName="skillsGroup">
                    <div *ngFor="let skill of skills">
                        <div class="value-card-container">
                            <label [id]="skill.value + '-label'">{{
                                skill.name
                            }}</label>
                            <span>{{
                                gameFormGroup.get("skillsGroup." + skill.value)
                                    ?.value
                            }}</span>
                        </div>
                        <mat-slider
                            [max]="20"
                            [min]="12"
                            [step]="1"
                            [attr.aria-labelledby]="skill.value + '-label'"
                        >
                            <input
                                matSliderThumb
                                [formControlName]="skill.value"
                            />
                        </mat-slider>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <div class="form-actions">
            <button
                mat-raised-button
                color="primary"
                type="submit"
                [disabled]="gameFormGroup.invalid || loading"
            >
                Start game
            </button>
        </div>
    </form>
</div>
