.main-container {
    mat-drawer-container {
        background-color: var(--background);
        display: flex;
        width: 100vw;
        height: 100vh;
        border: 1px solid rgba(0, 0, 0, 0.5);

        mat-drawer {
            background-color: var(--surface);
            display: flex;
            flex-direction: column;
            align-items: center;
            width: clamp(250px, 20%, 350px);

            .center-btn-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 3rem 0 2rem 0;

                .new-play-btn {
                    background-color: var(--color-primary);
                    color: var(--color-primary-contrast);
                    border-radius: 1rem;
                }

                .show-more-btn {
                    background-color: transparent;
                    color: var(--text-secondary);
                    font-size: smaller;
                }
            }

            .plays {
                .game-name {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    margin-bottom: 1rem;

                    &.selected {
                        background-color: var(--background);
                        border-radius: 0.5rem;
                    }

                    .game-button {
                        flex: 1;
                        display: flex;
                        justify-content: flex-start;
                    }

                    .trash-button {
                        flex: 0;
                        display: flex;
                        justify-content: flex-end;
                    }

                    button {
                        background-color: transparent;
                        color: var(--text-primary);

                        mat-icon {
                            -webkit-text-stroke: 1px var(--color-accent);
                            color: transparent;
                        }
                    }
                }
            }
        }

        mat-drawer-content {
            flex: 1;
            display: flex;
            flex-direction: column;
            max-height: 100vh;

            .header-menu {
                display: flex;
                justify-content: space-between;
                height: 8vh;
                min-height: 5vh;

                .nav-btn-container {
                    mat-icon {
                        color: var(--color-accent);
                    }
                }

                .theme-button {
                    margin: 0 1rem;
                }
            }

            .main-content {
                height: 91vh;
            }
        }
    }
}
