<body>
    <mat-drawer-container class="drawer" autosize>
        <mat-drawer #drawer class="sidenav" mode="side" opened>
            <div class="center-btn-container">
                <button class="new-play-btn" (click)="newRole()" mat-raised-button>
                    <mat-icon aria-hidden="false" aria-label="logo" fontIcon="add"></mat-icon>New Role
                </button>
            </div>
          

            <div class="plays">
                <div *ngFor="let game of gamePagedSearch?.list">
                    
                    <button mat-flat-button>
                        <mat-icon aria-hidden="false" aria-label="logo" fontIcon="bolt"></mat-icon>
                        {{ game.name }}
                    </button>
                </div>
            </div>
            <div class="center-btn-container" *ngIf="enableShowMoreBtn">
                <button class="show-more-btn" (click)="showMore()" mat-flat-button>
                    Show more
                </button>
            </div>
        </mat-drawer>
      
        <div class="sidenav-content">
            <div class="nav-btn-container">
                <button type="button" mat-button (click)="drawer.toggle()">
                    <mat-icon aria-hidden="false" aria-label="logo" fontIcon="menu"></mat-icon>
                </button>
            </div>
            
            <div class="main-content">
                    <app-chat *ngIf="gameSelected != ''"></app-chat>
                    <app-first-steps *ngIf="gameSelected == ''"></app-first-steps>
            </div>
        </div>
      
    </mat-drawer-container>
</body>

