/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@include mat.core();

// Theme system
$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$deep-orange-palette, A200, A100, A400);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme-light: mat.define-light-theme(
    (
        color: (
            primary: $my-primary,
            accent: $my-accent,
            warn: $my-warn,
        ),
        typography: mat.define-typography-config(),
        density: 0,
    )
);

$my-theme-dark: mat.define-dark-theme(
    (
        color: (
            primary: $my-primary,
            accent: $my-accent,
            warn: $my-warn,
        ),
        typography: mat.define-typography-config(),
        density: 0,
    )
);

// Set tokens
@mixin expose-theme($theme) {
    $colors: mat.get-color-config($theme);

    $primary: map-get($colors, primary);
    $accent: map-get($colors, accent);
    $warn: map-get($colors, warn);
    $is-dark: map-get($colors, is-dark);
    $background: map-get($colors, background);
    $foreground: map-get($colors, foreground);

    --color-primary: #{mat.get-color-from-palette($primary)};
    --color-primary-contrast: #{mat.get-color-from-palette(
            $primary,
            default-contrast
        )};
    --color-accent: #{mat.get-color-from-palette($accent)};
    --color-warn: #{mat.get-color-from-palette($warn)};
    --is-dark: #{$is-dark};

    --background: #{map-get($background, background)};
    --surface: #{map-get($background, card)};
    --surface-elevated: #{map-get($background, dialog)};

    --text-primary: #{map-get($foreground, text)};
    --text-secondary: #{map-get($foreground, secondary-text)};
}

// Set all default components to the dark theme
@include mat.all-component-themes($my-theme-dark);

body.theme-light {
    // Set all components for the light theme
    @include mat.all-component-colors($my-theme-light);

    // Set the tokens for the light theme
    @include expose-theme($my-theme-light);
}

html,
body {
    margin: 0;
    height: 100vh;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    @include expose-theme($my-theme-dark);
    background-color: var(--background);
    color: var(--text-primary);
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-secondary);
    border-radius: 4px;
    border: 2px solid var(--background);
}

/* For Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: var(--text-secondary) var(--background);
}
