/* You can add global styles to this file, and also import other style files */
@import "/src/app/styles/variables.scss";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 10px;
    border: 2px solid $secondary-color;
}

::-webkit-scrollbar-track {
    background-color: $secondary-color;
    border-radius: 10px;
}
